doctype=html
html
  head
    title strona
    link(rel="stylesheet", href="../public/styles.css")
    link(href="https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Roboto:wght@300;700&display=swap" rel="stylesheet")
  body
    .main
      h1.main-title Obszary naszych kompetencji
      h2.main-text Pomagamy uczyć się na błędach innych. Wspieramy i rekomendujemy wartościowe rozwiązania biznesowe.
      .main-graphic-wrapper
        .main-graphic
          img(src="../img/circle.png")
          .graphic-text POZNAJ NASZE KOMPETENCJE
        .graphic-items      
          .graphic-item
            .graphic-item-content
              a(href="#")
                img(src="../img/10.png")
          .graphic-item
            .graphic-item-content
              a(href="#")
                img(src="../img/2.png")
          .graphic-item
            .graphic-item-content
              a(href="#")
                img(src="../img/3.png")
          .graphic-item
            .graphic-item-content
              a(href="#")
                img(src="../img/4.png")
          .graphic-item
            .graphic-item-content
              a(href="#")
                img(src="../img/5.png")
          .graphic-item
            .graphic-item-content
              a(href="#")
                img(src="../img/6.png")
          .graphic-item
            .graphic-item-content
              a(href="#")
                img(src="../img/7.png")
          .graphic-item
            .graphic-item-content
              a(href="#")
                img(src="../img/8.png")
          .graphic-item
            .graphic-item-content
              a(href="#")
                img(src="../img/9.png")
          .graphic-item
            .graphic-item-content
              a(href="#")
                img(src="../img/1.png")
          .graphic-item
            .graphic-item-content
              a(href="#")
                img(src="../img/12.png")
          .graphic-item
            .graphic-item-content
              a(href="#")
                img(src="../img/11.png")
    .footer
      .footer-title Skontaktuj się z nami
      .footer-text Zadzwoń #[span +48 535 015 835] lub wypełnij formularz.
      form
        .row
          input(type="text" placeholder="Imię i nazwisko")
          input(type="text" placeholder="Telefon")
          input(type="text" placeholder="E-mail")
        .row
          input(type="text" placeholder="Firma")
          input(type="number" placeholder="Ilość pracowników" min="0")
          input(type="number" placeholder="Roczny dochód firmy" min="0")
        .row
          textarea(id="message" placeholder="Wiadomość")
      .container
        input(type="checkbox") 
        p Zapoznałem(-łam) się z #[a(href="#") Polityką prywatności] oraz z #[a(href="#") Zastrzeżeniami prawnymi]
      .button WYŚLIJ
