body
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Roboto', sans-serif

  .main
    display: flex
    flex-direction: column
    align-items: center

    .main-title
      font-family: 'Hind', sans-serif
      font-weight: 600
      font-size: 36px
      color: #2f2f2f
      margin-top: 50px
      margin-bottom: 10px

    .main-text
      font-size: 16px
      color: #565e66
      font-weight: 300

    .main-graphic-wrapper
      height: 800px
      width: 800px
      // background: pink
      position: relative
      margin-bottom: 100px

    .main-graphic
      position: absolute
      top: 50%
      left: 50%
      transform: translateX(-50%) translateY(-50%)
      border: solid 1px #d4dbe0
      border-radius: 100%
      padding: 90px


      .graphic-text
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        color: #fff
        font-weight: bold

    .graphic-items
      position: absolute
      top: 50%
      left: 50%

    .graphic-item
      position: absolute
      top: 50%
      left: 50%
      transform: translateY(-50%) translateX(-50%)

      &:nth-child(2) .graphic-item-content
        transform: rotate(0deg) translateX(320px)
      &:nth-child(3) .graphic-item-content
        transform: rotate(30deg) translateX(320px)
      &:nth-child(4) .graphic-item-content
        transform: rotate(60deg) translateX(320px)
      &:nth-child(5) .graphic-item-content
        transform: rotate(90deg) translateX(320px)
      &:nth-child(6) .graphic-item-content
        transform: rotate(120deg) translateX(320px)
      &:nth-child(7) .graphic-item-content
        transform: rotate(150deg) translateX(320px)
      &:nth-child(8) .graphic-item-content
        transform: rotate(180deg) translateX(320px)
      &:nth-child(9) .graphic-item-content
        transform: rotate(210deg) translateX(320px)
      &:nth-child(10) .graphic-item-content
        transform: rotate(240deg) translateX(320px)
      &:nth-child(11) .graphic-item-content
        transform: rotate(270deg) translateX(320px)
      &:nth-child(12) .graphic-item-content
        transform: rotate(300deg) translateX(320px)


    .graphic-item-content
      background-color: #f4f7f9
      border: solid 3px #d4dbe0
      border-radius: 100%
      transform: rotate(330deg) translateX(320px)
      width: 80px
      height: 80px


      img
        position: absolute
        right: 0
        left: 0
        top: 0
        bottom: 0
        margin: auto auto


  .footer
    background-image: url("../img/background.jpg")
    width: 100%
    height: 642px
    background-size: cover
    display: flex
    flex-direction: column
    align-items: center

    .footer-title
      font-family: 'Hind', sans-serif
      font-weight: 600
      color: #fff
      font-size: 36px
      margin-top: 60px

    .footer-text
      font-family: 'Roboto', sans-serif
      color: #fff
      font-size: 18px
      font-weight: 400
      margin-bottom: 30px

      span
        font-weight: 700
    form
      display: flex
      justify-content: center
      flex-direction: column
      input
        width: 305px
        height: 50px
        padding-left: 10px
        color: #565e66
        margin: 7.5px
        border-radius: 10px
        border: none
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0
      #message
        width: 952px
        height: 124px
        padding-left: 10px
        color: #565e66
        margin: 7.5px
        border-radius: 10px
        border: none
        font-family: 'Roboto', sans-serif
        padding: 10px

    .box
      width: 17px
      height: 17px
      background-color: #fff

    p
      color: #fff

      a
        color: #35a8e0
        text-decoration: none

    .container
      display: flex
      align-items: center


    .button
      color: #fff
      font: 14px
      background-color: #35a8e0
      width: 163px
      height: 52px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 10px
      font-weight: bold
      margin-top: 20px
