doctype=html
html
	head
		title strona
		link(rel='stylesheet', href='/public/style.css')
		link(href="https://fonts.googleapis.com/css?family=Quicksand:400,700|Montserrat&display=swap" rel="stylesheet")
	body
		.navbar 
			.title Powtórka z fizyki
			.menu
				.menu-item pierwszy
				.menu-item drugi
				.menu-item trzeci
				.menu-item czwarty
				.menu-item piąty
		.main
			.side-menu
				p kinematyka
				p mechanika
				p Fizyka
				p i inne rzeczy
			.text
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non laoreet elit. Cras nec molestie magna. Aliquam finibus, lectus ac aliquet vulputate, est nunc varius elit, nec dignissim augue dolor vitae nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin tellus est, fermentum a magna quis, sagittis blandit justo. Fusce sodales lacinia mi a vehicula. Curabitur consectetur et eros in sollicitudin. Mauris vitae diam varius, fringilla nisi vel, rhoncus leo. Quisque sodales nibh feugiat mi sollicitudin, ac efficitur ipsum commodo. Phasellus vel neque tristique, convallis nisi eu, gravida dolor. Nulla at congue lectus. Nulla massa ligula, fringilla in dapibus id, sodales vitae ligula.
				p Morbi iaculis faucibus nisi ac maximus. Nam pretium ac dolor ac commodo. Quisque aliquam facilisis turpis faucibus dictum. Donec id mi ut eros tempus porta a id sapien. Nam vel lobortis urna. Fusce pellentesque efficitur nibh, non condimentum magna aliquam in. Integer quis vehicula purus. Sed euismod volutpat tincidunt. Integer semper dictum sapien in pretium. Integer quis convallis augue, gravida porttitor neque. Duis eleifend nibh et lectus sollicitudin, quis luctus nulla condimentum. Cras hendrerit turpis vel rutrum sollicitudin.
