<!DOCTYPE =html>
<html>
  <head>
    <title>strona</title>
    <link rel="stylesheet" href="../public/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@600&amp;family=Roboto:ital,wght@0,700;1,400&amp;display=swap" rel="stylesheet"/>
  </head>
  <body>
    <div class="main-1">
      <div class="title1">Obszary naszych kompetencji</div>
      <div class="text1">Pomagamy uczyć się na błędach innych. Wspieramy i rekomendujemy wartościowe rozwiązania biznesowe.</div>
      <div class="circle"><img src="../img/circle.png"/>
        <div class="centered-text">POZNAJ NASZE KOMPETENCJE</div>
      </div>
      <div class="circle-item"></div>
    </div>
    <div class="main-2">
      <div class="title2">Skontaktuj się z nami</div>
      <div class="text2">Zadzwoń <span>+48 535 015 835</span> lub wypełnij formularz.</div>
      <form>
        <div class="row">
          <input type="text" placeholder="Imię i nazwisko"/>
          <input type="text" placeholder="Telefon"/>
          <input type="text" placeholder="E-mail"/>
        </div>
        <div class="row">
          <input type="text" placeholder="Firma"/>
          <input type="number" placeholder="Ilość pracowników"/>
          <input type="number" placeholder="Roczny dochód firmy" min="0"/>
        </div>
        <div class="row">
          <input type="text" id="message" placeholder="Wiadomość"/>
        </div>
      </form>
      <input type="checkbox"/>
      <p>Zapoznałem(-łam) się z <a href="#">Polityką prywatności</a> oraz z <a href="#">Zastrzeżeniami prawnymi</a></p>
      <div class="button">WYŚLIJ</div>
    </div>
  </body>
</html>